body {
	background-color: #eee !Important;	
}
.font {
	font-family: "Dosis" !Important;
}
.main {
	padding: 20pt;
}
h1.main {
	margin: 0pt 0pt 20pt 10pt;
	padding: 0;
}
.panel-heading {
	font-weight: bold;
	font-size: 16pt;
}
.panel-body {
	padding: 20pt !Important;
	font-size: 14pt;
}
.buttons {
	margin-top: 20pt;
}
.sidebar {
	list-style: none;
}
.sidebar .fa {
	color: red;
	margin-right: 5pt;
}
.sidebar a {
	color: Black;
}
.error {
	color: red;
}
.listrow {
	border-bottom: 1px dashed #aaa;
	padding: 5pt;
}
.listrow .fa {
	margin-right: 10pt;
}
.listrow .right {
	float: right;
}

#myuploader {
	border: 1px dashed #ddd;
	background-color: #eee;
	display: block;
	margin-top: 20pt;
	margin-bottom: 10pt;
	padding: 10pt;
}

.upload-btn {
	margin-top: 10pt;
}

.yiifileman-file-selected {
	background-color: #eee !important;
	padding: 5pt;
}

.imagelist {
	list-style: none;
}
.imagelist li {
	display: block;
	margin-bottom: 10pt;
}
.imagelist li img {
	width: 120px;
}
.imagelist li label {
	display: block;
	font-family: courier;
	font-size: 10pt;
}
